@import 'tailwindcss';

/* import slick-carousel/slick/slick.css
import slick-carousel/slick/slick-theme.css */

h1 {
  color: #150e56;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

h2,
h3,
h4,
h5 {
  color: #06022c;
}

p {
  line-height: 1.7;
  color: #020109;
}

.nav-text {
  color: #06022c;
}

.icon{
    color: #06022c;
}


.footer-text, .about {
  color: #ffffff;
}

@media (max-width: 769px) {
  h1 {
    font-size: 25px;
  }
  .header-link {
    display: none;
  }
}

